---
---

@import "{{ site.theme }}";

#header nav li {
  display: inline;
  padding-right: 30px;
}
#header nav {
 background-color: hsl(50, 33%, 25%); 
}
.notes {
  width: 800px;
  overflow: auto;
}
.higlight {
  overflow: auto;
}
